<!-- Have an expandable list -->
<!-- so not everything is visible at once or can use -->
<!-- HTML anchors -->

<!-- This provides the :title to be used by the -->
<!-- full_title method which can be found in -->
<!-- app/helpers/application_helper.rb -->
<!-- This is utilized in app/views/layouts/application.html.erb -->
<% provide(:title, 'FAQ') %>
<h1>Frequently Asked Questions</h1>

<div class="tabbable">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#tab1" data-toggle="tab">About Us</a></li>
		<li><a href="#tab2" data-toggle="tab">Help</a></li>
		<li><a href="#tab3" data-toggle="tab">Privacy Policy</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="tab1">
			<ul class="faq">
				<li>What is MDW?</li>
				<p>MDW is the site where people go to tell stories of their dysfunctional workplaces. If you've ever had a nightmare about work, only to wake up and realize it's reality, this site is for you.</p>
				<p>We promote the funniest stories: the ones that make you say "WTF?", "How do you even function as a human being?", "Wait, you make how much for dealing with this?" If you hate your job, your boss, your co-workers, or even your customers, tell us a story. The internet wants to laugh with you!</p>
				<li>Who's behind MDW?</li>
				<p>MDW is created by a couple of guys who lost their souls to the corporate world. In an attempt to save their livers, they created a place to tell their ridiculous stories and commiserate with others.</p>
				<!-- Press releases here when they come -->
			</ul>
		</div>
		<div class="tab-pane" id="tab2">
			<ul class="faq">
				<li>How do I submit a story?</li>
				<p>It's easy! <%= link_to 'Sign up', signup_path %>, click on <%= link_to "Submit", new_post_path %>, then write your story. We even give a guide on how to come up with content! Under <%= link_to "Submit", new_post_path %>, check out <%= link_to 'Signs of a Dysfunctional Workplace', new_post_path(anchor: 'signs') %>.</p>
				<li>How do I delete a story?</li>
				<p>The easiet way to delete your story is to go to <%= link_to 'your profile', current_user %>, search through your posts, then click "delete".</p>
				<!-- How to edit once we can do that -->
				<li>How do I report a story or a user?</li>
				<p>Please send an e-mail to <%= mail_to "gerry@mydysfunctionalworkplace.com", "Gerry" %> with the post ID number or username.</p>
				<li>How do I contact you?</li>
				<p>Feel free to e-mail <%= mail_to "gerry@mydysfunctionalworkplace.com", "Gerry" %> or <%= mail_to "tyler@mydysfunctionalworkplace.com", "Tyler" %> with any questions, suggestions, comments, or hangover remedies.</p>
			</ul>
		</div>
		<div class="tab-pane" id="tab3">
			<ul class="faq">
				<li>What do you do with user information?</li>
				<p>Since we don't ask for anything sensitive, there's not that much information we have. Regardless, anything that could be considered personal is strictly private.</p>
				<p>Information we can collect include how you interact with our site, services, statistics on page views, traffic to and from our site, IP addresses, and standard web log information.</p>
				<p>The main purposes in collecting this information are to create a customized experience for you, assist in troubleshooting, improve our site, and assist in targeted marketing.
				<li>How do you keep everything anonymous?</li>
				<p>We regulate all user names and moderate all posts. User names should not describe the person or the company they work for. Stories are not allowed to say names of either people or companies.</p>
				<li>What security do you have for passwords?</li>
				<p>Passwords are encrypted via a <a href="http://en.wikipedia.org/wiki/Cryptographic_hash_function" target="_blank">cryptographic hash function</a>. Specifically, we use a state-of-the-art hash function called <a href="http://en.wikipedia.org/wiki/Bcrypt" target="_blank">bcrypt</a> to irreversibly encrypt passwords. In other words, even if we had knew your encrypted hash, we wouldn't be able to figure out your password.</p>
				<p>Once encrypted, our database only stores the encrypted hash, not your password.</p>
				<p><u>No one, including any admin or moderator, has access to your password.</u></p>
			</ul>
		</div>
	</div>
</div>

<% if current_user.try(:admin?) %>
	<p>
		Need to add in Legal section with incorporation info, a more 'legal-speak' privacy policy, also a bit saying that we enforce anonymity to the best of our ability, however do not have any responsibility if a company is offended. Users who identify individuals will have their profiles and associated posts removed.
</p>
<% end %>