<% provide(:title, 'Signs of Dysfunction') %>
<h1>Signs of Dysfunction</h1>


<div class="row">
	<div class="span5 offset1 linespace">
		<h3>Your boss(es) may be the cause of dysfunction if...</h3>
		<ol>
			<li>...you have too many <%= link_to "bosses", "http://youtu.be/g2_Yi-1Ryf4?t=17s", target: "_blank" %></li>
			<li>...s/he yells at employees in public</li>
			<li>...s/he is a total idiot</li>
			<li>...s/he has ever been described as "<%= link_to "Worst Boss Ever", "http://www.cracked.com/article/89_the-6-most-horrific-bosses-all-time/", target: "_blank" %>"</li>
			<li>...s/he sets unrealistic goals</li>
			<li>...s/he walks into meetings like a king</li>
			<li>...s/he lashes out like a <%= link_to "child", "http://www.funnyordie.com/videos/74/the-landlord-from-will-ferrell-and-adam-ghost-panther-mckay", target: "_blank" %></li>
			<li>...s/he stands over your shoulder and micromanages</li>
		</ol>
	</div>
	<div class="span6 linespace">
		<h3>You need a new job if your coworker(s)...</h3>
		<ol>
			<li>...suck the life out of you</li>
			<li>...need <%= link_to "sexual harassment training", "http://www.youtube.com/watch?v=EoDpYwqNjC0", target: "_blank" %> (warning: very vulgar)</li>
			<li>
				...have no <a href="http://www.amazon.com/gp/product/0786866020/ref=as_li_qf_sp_asin_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0786866020&linkCode=as2&tag=mydysfuworkp-20" target="_blank">fun</a><img src="http://www.assoc-amazon.com/e/ir?t=mydysfuworkp-20&l=as2&o=1&a=0786866020" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
			</li>
			<li>...are completely <%= link_to "rude", "http://www.youtube.com/watch?v=jZkdcYlOn5M", target: "_blank" %></li>
			<li>...judge you for working <%= link_to "less than 10 hours per day", "http://37signals.com/svn/posts/902-fire-the-workaholics", target: "_blank" %></li>
			<li>...are bullies</li>
			<li>...sabotage your work efforts</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="span5 offset1 linespace">
		<h3>Let's have a meeting...</h3>
		<ol>
			<li>...and another <%= link_to "meeting", "http://www.ted.com/talks/jason_fried_why_work_doesn_t_happen_at_work.html", target: "_blank" %> </li>
			<li>...about something <%= link_to "pointless", "http://www.effectivemeetings.com/diversions/meetingcost.asp", target: "_blank" %> </li>
			<li>...where no one is prepared</li>
			<li>...where everyone is late</li>
			<li>...without any minutes or follow ups</li>
			<li>...about other meetings</li>
		</ol>
	</div>
	<div class="span6 linespace">
		<h3>Update your resumé if your processes...</h3>
		<ol>
			<li>...focus on two conflicting goals</li>
			<li>...change daily</li>
			<li>...have frequent restructuring</li>
			<li>...need 10 levels of approval for a $10 charge</li>
			<li>...are in place because "That's the way we've always done it"</li>
			<li>...are paralyzed by analysis</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="span6 offset4 linespace">
		<h3>Some random signs of dysfunction for ya...</h3>
		<ol>
			<li>...Your workload is way too <%= link_to "much", "http://en.wikipedia.org/wiki/Kar%C5%8Dshi", target: "_blank" %> </li>
			<li>...Your workload is way too <%= link_to "little", "http://www.youtube.com/watch?v=8S5w63AcPvY", target: "_blank" %> </li>
			<li>...Your vision statement is completely vague but includes important words like "quality" or "excellence"</li>
			<li>...Your vision and/or mission change daily</li>
			<li>...The company views training as a cost instead of an investment</li>
			<li>...You don't use your strengths or your education, even if they're needed</li>
			<li>...Projects that would help the company are shot down because of office politics.</li>
		</ol>
	</div>
</div>