<!-- This page was generated with the command: -->
<!-- $ rails generate controller Users new --no-test-framework -->
<!-- Automatically created the controller file, view, -->
<!-- the CSS file, and JS file -->

<% provide(:title, 'Sign Up') %>
<h1>Sign Up</h1>
<textarea id="stuff"></textarea>
<span id="preview"></span>



<div class="row">
	<div class="span6 offset3">
		<%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<%= f.label :name, "Username", class: "inline" %>
			<%= render 'usernametip' %>
			<br>
			<span class="countdown"></span>
			<%= f.text_field :name, placeholder: "Make it anonymous and funny! Needs to be all lower-cased and single-spaced" %>

			<%= f.label :password, class: "inline" %>
			<%= render 'passwordtip' %>
			<%= f.password_field :password, placeholder: "Minimum of 6 characters. Case-sensitive." %>

			<%= f.label :password_confirmation, "Confirmation", class: "inline" %>
			<%= render 'confirmationtip' %>
			<%= f.password_field :password_confirmation, placeholder: "Same as Password" %>

			<%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
		<% end %>

		<% if current_user.try(:admin?) %>
			<p>
				Add a note in here saying your username should make you completely anonymous.
			</p>
			<p>
				Add expandable boxes to provide more information on each of these fields. Such as "Username needs to be all lowercase, less than 30 characters, some good examples are", "Password needs to be at least 6 characters long".
			</p>
			<p>
				Add in the JavaScript and jQuery to count how many characters are left.
			</p>
			<p>
				Make it so Password can't be blank doesn't show up twice. Also, if possible remove it from the top errors are printed in the right order.
			</p>
			<p>
				Change the jQuery so if it's only 1 character or -1 character it changes "characters" to "character"
			</p>
			<p>
				Figure out why when the user inputs invalid info, the URL becomes /users and not /signup. Note: Tried changing the controller to redirect to signup_path, which worked but didn't show errors.
			</p>
			<% end %>
	</div>
</div>
