<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= @user.name %>
				<% if current_user.try(:admin?) || current_user?(@user) %> | 
					<%= link_to "delete profile", @user, method: :delete, data: { confirm: "If you delete your profile, all your posts will be lost." } %>
				<% end %>
			</h1>
			<h3>Stats</h3>
			<p>
				<% if @user.posts.any? %>
					<%= pluralize(@user.posts.count, 'story') %> submitted.
				<% else %>
					0 stories submitted.
				<% end %>
			</p>
			<p>
				Created <%= time_ago_in_words(@user.created_at) %> ago.
			</p>
		</section>
	</aside>


	<div class="span8">
		<% if @user.posts.any? %>
			<h3>Posts (<%= @user.posts.count %>)</h3>
			<ol>
				<%= render @posts %>
			</ol>
			<div class="row-fluid">
				<div class="span12 pagination-centered">
					<%= will_paginate @posts %>
				</div>
			</div>
		<% else %>
			<h2>Welcome to MDW</h2>
			<p>
				Check out the 
				<%= link_to "horror stories", root_path %> or 
				<%= link_to "submit your own!", new_post_path %>
			</p>
		<% end %>
	</div>

	<% if current_user.try(:admin?) %>
		<h2>Things to add</h2>
		<p>
			Summary of awesomeness under the name, such as total number of stories submitted, total number of 'likes', average likes/submission
		</p>
		<p>
			Stats should include their most popular story. Maybe their least popular one as well?
		</p>
		<p>
			Should have a logo somewhere so it doesn't look bland.
		</p>
	<% end %>

</div>