<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1><%= @user.name %></h1>
			
				<p>
				If admin and not your own profile see "delete": 
				<% if current_user.try(:admin?) %>
					<%= link_to "delete this profile", @user, method: :delete, data: { confirm: "You sure?" } %>
				<% end %>
				<% if @user == current_user %>
					<%= link_to "delete your profile", current_user, method: :delete, data: { confirm: "If you delete your profile, all your posts will be lost." } %>
				<% end %>
				</p>

				<div class="span8">
					<% if @user.posts.any? %>
						<h3>Posts (<%= @user.posts.count %>)</h3>
						<ol class="posts">
							<%= render @posts %>
						</ol>
						<%= will_paginate @posts %>
					<% else %>
						<p>You haven't submitted a post yet!</p>
					<% end %>
				</div>
			

			<h2>Things to add</h2>
			<p>
				Summary of awesomeness under the name, such as total number of stories submitted, total number of 'likes', average likes/submission
			</p>
			<p>
				Submit field on the right with a link to a list of signs of dysfunction
			</p>
			<p>
				Previously submitted stories on the bottom paginated with link(s) to delete them. Maybe just put two stories: their most popular one and their least popular one?
			</p>
			<p>
				Needs a delete link so users can delete their own profiles.
			</p>
		</section>
	</aside>
</div>