
<li class="posts">
	<h4>
		<%= post.title %>
		<% if current_user?(post.user) || current_user.try(:admin?) %>
		| <%= link_to "edit", edit_post_path(post.id) %>
		| <%= link_to "delete", post, method: :delete,
																data: { confirm: "You sure?" },
																title: post.content %>
		<% end %>
	</h4>
	<span class="content"><%= wrap(RedCloth.new(post.content).to_html) %></span>
	<span class="timestamp">
		Story #<%= post.id %> told <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.name %>
	</span>
	| <%= link_to 'Time to quit <i class="icon-thumbs-up"></i>'.html_safe, vote_post_path(post, type: "up"), method: "post" %> 
	(<% if post.reputation_for(:votes).to_i > 0 %>+<% end %><%= post.reputation_for(:votes).to_i %>)
	<%= link_to '<i class="icon-thumbs-down"></i> I would trade jobs'.html_safe, vote_post_path(post, type: "down"), method: "post" %> 
	<div class="inlineblock pull-right">
		<%= social_share_button_tag(full_title(post.title), url: post_url(post.id)) %>
	</div>
</li>
