<% provide(:title, "Submit Story") %>
<h1>New post</h1>
<textarea id="stuff"></textarea>
<span id="preview">blah</span>

<div class="row">
	<div class="span6 offset3">
		<h3 class="center">How to write a new post</h3>
		<ul>
			<li>Wrap words with an asterik (*) to make it bold</li>
			<li>Wrap words with an underline (_) to make it italics.</li>
			<li>Give background information and non-verbal descriptions with italics and show people with bold.</li>
			<li>Everything should be anonymous!</li>
		</ul>
		Example: <br>
		<p>_I work at a steel mill_</p>
		<p>*Me:* Boss, I feel like the Tin Man from Wizard of Oz.</p>
		<p>*Boss:* Well, you SHOULD feel like the Steel Man. That's why Coworker over here is making more than you and started after you!</p>
		<p>_I turn around to see Coworker doing the dance from Wizard of Oz_</p>
	</div>
</div>
<div id="demo"></div>


<div class="row">
	<div class="span6 offset3">
		<%= form_for(@post) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<div class="field">
				<%= f.text_area :content, placeholder: "Tell us your story..." %>
			</div>
			<%= f.submit "Post", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="span6 offset3 signs">
		<a name="signs"></a>
		<h3 class="center">Signs of Dysfunctional...</h3>
		<h4>Bosses</h4>
		<ol>
			<li>Blah</li>
		</ol>
		<h4>Coworkers</h4>
		<h4>Meetings</h4>
		<h4>Processes</h4>
		<h4>Customers</h4>
		<h4>Miscellaneous Crap</h4>
	</div>
</div>

<% if current_user.try(:admin?) %>
	<h2>Ideas for content generation</h2>
	<p>List out signs of a dysfunctional workplace</p>
	<p>Number the list and when you add tags, people can tag a certain number to see more of that type. People could tag it like: #bosses3 where #3 under bosses could be like "Boss is the office bully"</p>
	<p>May need to change the span if the Signs portion goes too wide</p>

<%= RedCloth.new("test").to_html %>
<% end %>