<footer class="footer">
	<small>
		<%= link_to "My Dysfunctional Workplace", '#' %> &#169; by <a href="http://www.linkedin.com/pub/gerry-pass/40/793/113">Gerry Pass</a> and <a href="http://www.linkedin.com/pub/tyler-hein/22/b99/646">Tyler Hein</a>
	</small>
	<nav>
		<ul>
			<li><%= User.count %> users</li>
			<li><%= Post.count %> stories</li>
			<li><%= link_to "Home",   root_path %></li>
			<li><%= link_to "FAQ",    faq_path %></li>
		</ul>
	</nav>
</footer>