<footer class="footer">
	<small>
		<%= link_to "My Dysfunctional Workplace", '#' %> &#169; by <%= mail_to "gerry@mydysfunctionalworkplace.com", "Gerry" %> and <%= mail_to "tyler@mydysfunctionalworkplace.com", "Tyler" %>
	</small>
	<nav>
		<ul>
			<li><%= User.count %> people with <%= Post.count %> dysfunctions</li>
			<li><%= link_to "Home",   root_path %></li>
			<li><%= link_to "FAQ",    faq_path %></li>
		</ul>
	</nav>
</footer>